/* JUST FOR DEMO PURPORSES, REPLACE WITH YOUR OWN CODE */
#searchbar{
  display:flex;
  justify-content: center;
}
/* #demo {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
} */

/* END DEMO */
