body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a.nav-link {
  color: #f200cf;
}

a.nav-link:hover {
  color: white;
}

.brightblue:hover {
  color: white !important;
}

.brightblue {
  color: #00ffe9 !important;
}

.form-control::-webkit-input-placeholder {
  color: white !important;
}
