.hero {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30vh;
  min-height: 20rem;
  background-color: white;
  overflow: hidden;
}
/*******************************
      Central icon and text
    ********************************/
.icon-holder {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 3rem;
  padding: 2rem;
  height: 19rem;
}
.icon-holder__icon {
  position: absolute;
  top: 0;
  width: 16rem;
}
.icon-holder__icon img {
  max-width: 100%;
}
.icon-holder__text {
  font-size: 1rem;
  font-family: Arial, Helvetica, sans-serif;
  position: absolute;
  bottom: 0;
}
/*******************************
      Drink images
    ********************************/
.drink-image {
  position: absolute;
}
.drink img {
  max-width: 100%;
}
.drink__one {
  left: 8em;
  width: 30vw;
  max-width: 525px;
}
.drink__two {
  top: 1em;
  right: 3em;
  width: 30vw;
  max-width: 390px;
}
.drink__three {
  top: 5em;
  right: 0;
  width: 25vw;
  max-width: 290px;
}
/*******************************
      Responsive changes
    ********************************/
@media screen and (max-width: 876px) {
  .hero {
    height: 70vh;
  }
  /*******************************
        Icon and text cover
      ********************************/
  .icon-holder {
    width: 100%;
    height: 100%;
    justify-content: flex-end;
  }
  .icon-holder__icon {
    top: auto;
    bottom: 7rem;
    max-width: 10rem;
  }
  /*******************************
        Reposition images
      ********************************/
  .drink__one {
    top: -5rem;
    width: 80vw;
  }
  .drink__two {
    right: 0rem;
  }
  .drink__three {
    top: 18rem;
    bottom: auto;
    right: -5rem;
    width: 50vw;
  }
}
