


.title {
  font-weight: bold;
  color: black;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 40px;
  font-family: Verdana, Geneva, sans-serif;
}

.randombox {
  display: flex;
  padding: 15px;
  margin-bottom: 50px;
  height: 600px;
  
  
}

/* Drink title/name */

  .drinkname{
       font-weight: bold;
       color: black;
       margin-left:35px;
       margin-top: 20px;
       padding-top: 20px;
      

  }
  
  /* style the image */
  .randomdrink{
      width:500px;
      height:500px;
      margin-left:20px;
      float:left;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 6px 0 rgba(0, 0, 0, 0.19);
  }
  
  
/*style recipe card*/

  .recipe {
      flex:display;
      width: 75%;
      height: 500px;
      padding-right: 20px;
      padding-left: 20px;
      margin-right: 20px;
      margin-left: 20px;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 6px 0 rgba(0, 0, 0, 0.19);
     
  }

.banner {
  width: 1000px;
}
