.main-footer {
  color: white;
  background-color: black;
  padding-top: 40px;
  padding-bottom: 10px;
  margin-top: 40px;
  list-style-type: none;
}

.bottomtext {
  text-align: center;
  font-size: 10px;
}

.logo {
  margin-bottom: 16px;
}

a {
  text-decoration: none;
}
